/*
 * mobile max width: 375px;
 * dekstop width: 1440px;
 */
:root {
    --white: hsl(0, 0%, 100%);
    --gray-light: hsl(212, 45%, 89%);
    --blue-gray: hsl(220, 15%, 55%);
    --blue-dark: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}

p {
    font-size: 1.5rem;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    padding: 1.5rem;
    overflow: hidden;
}

.card-image {
    border-radius: 1rem;
    height: auto;
    width: 100%;
}

.card-body {
    padding: 1.5rem 2rem 3rem;
    text-align: center;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* .attribution { */
/*   font-size: 11px; */
/*   text-align: center; */
/* } */
/**/
/* .attribution a { */
/*   color: hsl(228, 45%, 44%); */
/* } */
